<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Owner &copy; <%= link_to "GitHub", "https://github.com/JCansta/Twitter-Clone", class: "text-white" %></small>
    </div>
    <div class="container text-center">
        <small><%= link_to "LinkedIN", "https://www.linkedin.com/in/jaime-castro-96a1791b0", class: "text-white" %></small>
    </div>
</footer>